.back{
    /* background-image: url('../public/artboard.png'),linear-gradient(180deg, #EB2129 0%, #C61E2B 100%),url('../public/background.jfif');
    background-size: 70vw 500px, 100vw 300px, 100px 100px;
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 600px -200px, top,0px 300px ;
    background-blend-mode:overlay,overlay;   */
    
    background-image: url('../public/artboard.png'),url('../public/background.jfif');
    background-size: 70vw 500px,100px 100px;
    background-repeat: no-repeat, repeat;
    background-color:linear-gradient(180deg, #EB2129 0%, #C61E2B 100%) ;
    background-position: 600px -200px,0px;
}