.card{
    background-color: white;
    border: #e5e5e5 solid 1px;
    border-radius: 6px;
    padding: 1rem;
    min-height: 19rem;
    width: 31%;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }

  
.cards_list {
  display: flex;
  margin-top: 2rem;
  width:77vw;
  /* position: absolute; */
  padding-top: 1rem;
  flex-wrap: wrap;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

  
  .card_part_id{
    color: #EB2129;
    background-color: #f8c9cb;
    width:11rem;
    padding:6px 9px;
    height: 2.6rem;
    margin:0.5rem;
    border-radius:0.5rem;
    vertical-align: center;
    font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 1.5rem;
  }
  
  .card_title{
    color:#3F5575;
    margin-top:17px;
    font-style: normal;
font-weight: 500;
font-size: 1.6rem;
line-height: 1.9rem;
    margin-left: 0.5rem;
    display: inline-block;
  }
  
  .card_desc{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: #9E9E9E;
    font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 1.5rem;
  }
  
  .card_footer{
    display: flex;
    position: absolute;
    margin-left: 0.5rem;
    bottom: 1.5rem;


  }
  
  .card_image{
    border:#e5e5e5 solid 0.1em;
    height:10rem;
    width:8rem;
    border-radius: 0.5rem;
  }

  .footer_quantity{
    color:#9E9E9E; 
    font-weight:500;
    font-size:1.2rem;
    line-height:1.5rem;
  }

  .card_column{
    height: 100%;
  }

  @media(max-width:600px){
    .card{
      width:90vw;
      min-height: 9rem;
      padding: 0.5rem;
      flex-direction: row;
    }

    .card_column{
      width:80%;
    }

    .card_part_id{
      font-weight: 300;
font-size: 1rem;
line-height: 1.3rem;
width:8rem;
padding:5px;
height: 2rem;
    }

    .card_title{
      margin-top:0.5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
    }

    .footer_quantity{
      display: flex;
      justify-content: center;
      align-items: center;
      width:20%;
      font-size: 1.1rem;
      line-height: 1.3rem;
      font-weight: 300;
    }

    .card_desc{
      margin-left: 0.5rem;
      margin-top: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
    }

    .card_footer{
      margin-top: 0.5rem;
    }

    .cards_list {
      width:90vw;
      padding-top: 0;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    
  }