@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.layout{
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh !important;
}

.dashboard_page{
    display: flex;
    flex-direction: column;
    background-image: url('/bg.png'),url('/background.png');
    background-size: 100vw 30rem, 200px 200px;
    background-repeat: no-repeat, repeat;
    background-position:  top, 0 30px ;
    padding-top: 3rem;
    min-height: 100vh;
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.icon_box{
    border:1px solid #E5E5E5;
    width:30px;
    height: 30px;
    text-align: center;
    margin-top: 0.5rem;
    padding-top:0.5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.search_section{
    width: 77vw;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 2rem;
    display: flex;
}

.cancel_symbol{
    margin-top: 1.2rem;
    margin-left: -2.8rem;
}

.subsection{
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background: white;
    border-radius: 6px;  
    display: flex;
    height: 70px;   
    padding-bottom: 9px;
    width:77vw;
    border-bottom: #e5e5e5 solid 0.01em;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); */

    }

    
    .subheading{
        margin-left: 2rem;
        margin-top:1rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color:#29394A;
    }
   

.dashboard_title{
    color: white;
    font-style: normal;
    margin-left: 5rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.title{
font-weight:600;
font-size :3rem;
line-height:3.6rem;
margin-bottom:0.5rem;
}

.sub_title{
    font-weight:400;
    font-size:1.6rem;
    line-height:1.9rem;
}

.searchbar{
    width: 75%;
    height: 4rem;
    background: #F6F7FB;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(225, 228, 237, 0.2);
    border-radius: 4px;
    padding-left:10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}



.dateRangePicker{
    border: black solid;
    z-index: 999;
    position: relative;
}

.date{
    border: black solid;
    background-color: blue;
    z-index: 9999;
}

.export_symbol{
    margin-top: 1.4rem;
    margin-left: -1.5rem;
    cursor: pointer;
}

.export_symbol:hover{
    color:#48586c;
 }

.export_button{
    color: #3F5575;
    background-color: white;
    font-size: 1.4rem;
    line-height: 1.7rem;
    cursor: pointer;
    border: none;
    margin-top: 0.5rem;
    margin-left: 20%;
    font-weight: 600;
    font-style: normal;
}

.export_button:hover{
    color:#7c90ae;
    background-color: white;
}

.dashboard_button{
    /* position: absolute; */
    background-color: #29394A;
    height:3.5rem;
    border: none;
    outline: none;
    padding: 10px 10px 10px;
    color: white;
    border-radius: 3px;
    right:5%;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
line-height: 1.7rem;
cursor: pointer;
transition:0.6s cubic-bezier(0.01, 1.69,    0.99, 0.94); 


}

.dashboard_button:hover{
    background-color: #48586c;
    letter-spacing: 0.1rem;


  }

.stockin_button{
    /* position: absolute; */
    background-color: #29394A;
    height:3.5rem;
    border: none;
    outline: none;
    padding: 10px 10px 10px;
    color: white;
    border-radius: 3px;
    right:5%;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
line-height: 1.7rem;
cursor: pointer;
margin-right:2rem;
transition:0.6s cubic-bezier(0.01, 1.69,    0.99, 0.94); 

}

.stockin_button:hover{
    background-color: #48586c;
    letter-spacing: 0.1rem;

}


.dashboard_table{
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;
}




  textarea{
    border:#E5E5E5 solid 0.1em;
    outline: none;
    /* width:85%; */
    border-radius: 5px;
    resize: none;
    width:70%;
    height: 7rem;
    padding: 1rem;
  }

.add_part_form{
    width:100%;

      display: flex;
      flex-direction: column;
      align-items: center;
  }

button{
    cursor:pointer;
    height:3.5rem;

}

.react-datepicker{
    font-size: 1rem !important;
}

.react-datepicker__input-container input{
    width:70%;
    min-width: 12rem;
}


  .react-datepicker__header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: #e5e5e5 !important;
    width:21rem;
  }
  .react-datepicker__month {
    width:18rem !important;
    height: auto !important;
  }

  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
      line-height: 2.5rem !important;
      width:2.5rem !important;
  }

  .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
      font-size: 1.2rem !important;
      color:#3F5575 !important;
  }

  .buttons1{
    display:flex;
    width:30rem;
    justify-content: flex-end;
    margin-right: 1.5rem;
  }

  .add_part_title{
    color:#6B6B6B;
    padding:20px;
    padding-bottom:40px;
    font-style:normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }


  .add_parts_button{
    width:70%;
    display: flex;
    justify-content: end;
    
  }

  .button2{
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    transition:0.6s cubic-bezier(0.01, 1.69,    0.99, 0.94); 
  }

  .button2:hover{
    letter-spacing: 0.1rem;
  }

  .cancel_button{
    background-color:white; 
    color:#ACB3BF;
    border:#ACB3BF solid 0.15em;
    margin-right:1rem;
  }

  .save_button{
    background-color:#33B850;

  }

  .save_button:disabled{
    background-color: #a5d8b0;
    transition: none;
    letter-spacing: 0;
  }

 .save_button:hover:enabled{
    background-color: #2b843e;
 }

 .cancel_button:hover{
    background-color: #ACB3BF;
    color:white;
 }

 .list_type_icon{
    cursor: pointer;
 }

 .list_type_icon:hover{
    color: #48586c ;
 }

 .cancel_symbol:hover{
    cursor: pointer;
 }




  @media (max-width:600px) {
      .layout{
          display: flex;
          flex-direction: column;
      }

      .subsection{
        border: none;
      }

      .dashboard_table{
        margin-top:0;
      }

      .dashboard_page{
        background-size: 100vw 28rem, 200px 200px;
      }

      .dashboard_title{
          margin-left: 2rem;
          margin-bottom: 2rem;
      }

      .title{
          font-weight: 500;
          font-size:2.5rem ;
          line-height: 3rem;
          margin-bottom: 0.2rem;
      }

      textarea{
          padding: 0.5rem;
      }
      .sub_title{
          font-weight: 300;
          font-size: 1.5rem;
          line-height: 2rem;
      }

      .search_section,.subsection{
          width:90vw;
          height:5.5rem;
          padding: 1rem;
          display: flex;
          align-items: center;
      }

      .searchbar{
          height:3rem;
      }

      .subheading{
          font-weight:500;
          font-size: 1.5rem;
          line-height: 1.7rem;
          margin: 0;
      }

      .dashboard_button,.stockin_button{
          font-weight: 400;
          height: 3rem;
          line-height: 1.2rem;
          font-size: 1.1rem;
      }

      .stockin_button{
          margin-right: 0.5rem;
      }

      button{
          height: 3rem;
      }
      
      

      .cancel_symbol{
        margin-top: 0.8rem;
        margin-left: -2.8rem;
    }

    .export_button{
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: 0rem;
        margin-left: 10%;
        font-weight: 600;
    }

    .export_symbol{
        margin-top: 0.4rem;
        margin-left: -1.5rem;
    }

    .buttons1{
        width:22rem;
        margin-right: 0;
    }

    .add_part_title{
        padding: 2rem;
    }

    .button2{
        font-weight: 400;
        line-height: 1rem;
        font-size: 1.5rem;
    }

    .react-datepicker__input-container input{
        width:100%;
    }

    .add_parts_button{
        margin-bottom: 2rem;
    }
  }