html,
body {
  padding: 0;
  font-size: 62.5%;
  margin: 0;
  font-family: 'Inter';
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::placeholder {
  font-family: 'Inter';  
  font-size: 1.4rem;
}

textarea::placeholder{
  font-family: 'Inter';
  font-size: 1.4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:disabled{
  cursor: not-allowed;
}

.icon:hover{
  cursor: pointer;
}