


.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/* .html {
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
} */



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
