.order_details_page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('/bg.png'),url('/background.png');
    background-size: 100vw 30rem, 200px 200px;
    background-repeat: no-repeat, repeat;
    background-position:  top, 0 30px ;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.order_details{
    background-color: white;
    padding: 2rem;
    width:77vw;
    /* border-bottom: #e5e5e5 solid 0.1em; */
    margin-left: auto;
    margin-right:auto;
    border-radius: 6px;
}

.order_header{
    border-radius: 3px;
    border: #EB2129 solid 0.1rem;
    /* height:7rem; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.rows{
    display: flex;
    font-weight: 500;
font-size: 1.4rem;
line-height: 1.7rem;
text-align: center;
}

.no_item{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: #6b6b6b;
}

.po_detail_part_header{
    color:#6B6B6B;
    border-bottom:#ececec 0.1em solid;
    margin-bottom: 0.5rem;
    height: 5rem;
    align-items: center;
}

.po_detail_part_rows{
    display: flex;
    height: 6rem;
    align-items: center;
    text-align: center;
    border-bottom:#ececec 0.1em solid;
}

.order_details_subheader{
    font-style: normal;
font-weight: 600;
font-size: 1.8rem;
line-height: 2.2rem;
color: #29394A;
display: flex;
margin-top: 2rem;
justify-content: space-between;
}

.parts_in_order{
    background-color: white;
    padding: 2rem;
    width:77vw;
    margin-left: auto;
    /* border-bottom: #e5e5e5 solid 0.1em; */
    margin-right:auto;
    margin-top:1rem;
    border-radius: 6px;
}

.past_transaction{
    background-color: white;
    padding: 2rem;
    width:77vw;
    margin-left: auto;
    margin-right:auto;
    margin-top:2rem;
    border-radius: 6px;
}

.order_detail_table{
    width:100%;
    margin-top:2rem;
}

.transaction_header{
    color:#3F5575;
    font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 2.4rem;
}

@media(max-width:600px){
    .order_details_page{
    background-size: 100vw 28rem, 200px 200px;
    }
    .order_details,.parts_in_order, .past_transaction{
        width: 95vw;
    }

    .order_header{
        padding: 0.5rem;
    }

    .order_details{
        padding: 1rem;
    }

    .order_details_subheader{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.7rem;
        margin-top: 1rem;
    }

    .order_detail_table{
        margin-top: 0rem;
    }

    .transaction_header{
        /* font-weight: 500; */
        font-weight: 1.5rem;
        line-height: 1.7rem;

    }

    .rows{
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

   
}