.order_page{
    display: flex;
    flex-direction: column;
    background-image: url('/bg.png'),url('/background.png');
    background-size: 100vw 30rem, 200px 200px;
    background-repeat: no-repeat, repeat;
    background-position:  top, 0 30px ;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
    min-height: 100vh;
}

.order_title{
    color: white;
    margin-left: 2vw;
    font-style: normal;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.clear_icon{
    color:#3F5575;
    position: absolute;
    top:15.2rem;
    left: 87vw;
}

.order_section{
    width: 77vw;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    display: flex;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    align-items: center;
}
.order_button{
    font-size: 1.6rem;
    line-height: 1rem;
    font-weight: 600;

}

.order_subtitle{
    color:#29394A;
    font-weight:600;
    font-size:1.8rem;
    line-height:2.2rem;
}

.order_table{
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;
}

.order_list_header{
    background-color: white;
    width: 95vw;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
font-size: 1.4rem;
line-height: 1.7rem;
border-bottom: #e5e5e5 solid 0.1em;

color: #6B6B6B;
display: flex;
}

.order_list_content{
    width:25%;
    display: flex;
    justify-content: center;
}

.order_card_list{
    width:95vw;
    padding-top: 0;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left:auto;
    margin-right: auto;
}

.clear_icon:hover{
    cursor: pointer;
}

@media(max-width:600px){

    .order_title{
        margin-left: 2rem;
        margin-bottom: 2rem;
    margin-top: 5rem;

    }

    .order_page{
    background-size: 100vw 29rem, 200px 200px;
    }

    .order_section{
        width:95vw;
        height: 5.5rem;
        padding: 1rem;
    }

    .order_subtitle,.order_button{
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1rem;
    }

    .clear_icon{
        top:17.1rem;
        left:82.1vw;
    }

    

   
}