.split{
    color:green
}

.split:hover{   
    cursor: pointer; 
}

.po_list_form{
    background-color: white;
    border-bottom: #e5e5e5 solid 0.1em;
    padding: 1rem;
    min-height: 70px;
    width: 95%;
    display: flex;
    align-items:center;
    font-style: normal;
    margin-bottom:1rem;
    margin-left:auto;
    margin-right:auto;
    border-radius:6px;
    font-weight: 500;
font-size: 1.2rem;
line-height: 1.5rem;
color: #3F5575;
flex-direction: column;

}

.po_list_form_rows{
    display:flex;
    width:100%;
    align-items:center;
    min-height: 5rem;
}

.split_row{
    display: flex;
    width:55%;
    /* padding-left: 2rem; */
    /* margin-left: 5vw; */
    height: 5rem;
    align-items: center;
}

.split_icon{
    width:20%;
    display:flex;
    justify-content: end;
}

.split_icon:hover{
    cursor: pointer;
}

.trash{
    color: #F16B6B;
}

.check{
    color:#33B850;
}

.check:hover{
    color: #19702a;
}

.trash:hover{
    cursor: pointer;
    color: #f50f0f;

}

.gap{
    /* margin-bottom:1rem; */
    height:4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:600px){
    .po_list_form{
        width: 90vw;
    }
}