.purchase_order_page{
    display: flex;
    flex-direction: column;
    background-image: url('/bg.png'),url('/background.png');
    background-size: 100vw 29.5rem, 200px 200px;
    background-repeat: no-repeat, repeat;
    background-position:  top, 0 30px ;
    padding-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.7rem;
    min-height: 100vh;
}

.po_subsection{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background: white;
    border-radius: 6px;  
    display: flex;
    height: 70px;   
    width:77vw;
    border-bottom: #e5e5e5 solid 0.01em;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 2rem;
}

.po_table{
    border-radius: 6px;  
    margin-left: auto;
    margin-right: auto;

}