.nav_text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 8px;
    list-style: none;
    height: 50px;
    color: #2C3948;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 1.6rem;

}

.navbar{
    /* box-shadow: 0px 0px 15px 0.1px rgba(0,0,0,0.2); */
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    font-weight: 500;
    color: #3F5575;
    position:fixed;
    line-height: 1.6rem;
    /* min-width: 2vw; */
}



.navbar_img{
    width: 14%;
    height: 5rem;
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;
    position: fixed;
    
    margin-bottom: 50px;
}

.navbar_img1{
    width: 3rem;
    height: 5rem;
    margin-top:20px;
    position: fixed;
    margin-bottom: 50px;
}

.logout_link{
    color: #3F5575;
    font-size: 1.7rem;
    line-height: 1.6rem;
    font-weight: 400;
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 16.66vw;
transition:0.6s cubic-bezier(0.01, 1.69,    0.99, 0.94); 

}

.center{
    margin-left: 1.5vw;
    display: flex;
transition:0.6s cubic-bezier(0.01, 1.69,    0.99, 0.94); 

}

.center:hover{
    color:#7c90ae;
    letter-spacing: 0.5px;
}

.logo_center{
    margin-left: 1.5vw;
    display: flex;
}

.center1{
    margin-left: 6.2vw;
transition:0.6s cubic-bezier(0.01, 1.69,    0.99, 0.94); 
}

.center1:hover{
    color:#7c90ae;
}

.logout_link:hover{
    cursor: pointer;
    color:#7c90ae;
    letter-spacing: 0.5px;
    
}

.nav_list{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
}

.nav_list:hover{
    cursor: pointer;
}

.nav_items{
    display: flex;
    height:5rem;
    align-items: center;
}

.selected_items{
    display: flex;
    height:5rem;
    align-items: center;
    /* margin-left:auto;
    margin-right:auto; */
    background: linear-gradient(90deg, #dedfdf 0%, rgba(241, 241, 245, 0) 87.23%);

}

.selected_icons{
    display: flex;
    height:5rem;
    align-items: center;
    /* margin-left:auto;
    margin-right:auto; */
    background: linear-gradient(90deg, #dedfdf 0%, rgba(241, 241, 245, 0) 87.23%);

}

.strip{
    background-color: red;
    width:0.5rem;
    height:5rem;
}

.empty_strip{
    width:0.5rem;
    height:5rem;
}

.sidebar_icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
