.list{
    background-color: white;
    border-bottom: #e5e5e5 solid 0.1em;
    padding: 1rem;
    min-height: 70px;
    width: 77vw;
    display: flex;
    align-items:center;
    font-style: normal;
    margin-bottom:1rem;
    margin-left:auto;
    margin-right:auto;
    border-radius:6px;
}

.part_id{
    color: #EB2129;
    background-color: #f8c9cb;
    width:11rem;
    margin-left: 2%;
    padding:0.5rem 0.1rem;
    border-radius:3px;
    text-align: center;
    font-weight: 500;
font-size: 1.2rem;
line-height: 1.5rem;
  }

.icons{
    display: flex;
    width:10%;
}

.submit_button{
    background-color: #29394A;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    font-weight:600;
    border-radius: 3px;
    margin-left:20px;
}


.list_content{
    font-style: normal;
font-weight: 500;
font-size: 1.4rem;
line-height: 1.7rem;
color: #3F5575;
}

.stockin_trash{
    color:#F16B6B;
    font-size:1.5rem;
}

.part_id_width{
    width:15%;
}

.part_desc_width{
    width:30%;
    text-align:center;
    display:flex;
    flex-direction:column;
}

.part_price_width{
    width:10%;
    text-align:center;
}

.quantity_width{
    width:30%;
    text-align:center;
}

@media(max-width:600px){
    .list{
        width:90vw;
        margin-bottom: 0.5rem;
    }

    .part_id_width{
        width:20%;
    }

    .quantity_width{
        width:20%;
    }

    .part_price_width{
        width: 20%;
    }

    .part_id{
        font-weight: 400;
font-size: 0.9rem;
line-height: 1.3rem;
width:7rem;
    }

    .list_content{
        font-weight: 500;
font-size: 1rem;
line-height: 1.3rem;
    }

    .stockin_trash{
        font-size: 1.2rem;
    }
}