table{
    /* box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 0px 3px 10px 0.1px rgba(0,0,0,0.2), 0px 3px 10px 0.1px   rgba(0,0,0,0.2);; */
    /* border:#e5e5e5 solid 0.1rem; */
    /* width:77vw !important; */
    /* border-bottom: none; */
    background-color: white;
}

.part_id_box{
    background-color: #fadbdc;
    border-radius: 3px;
    width:13rem;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.6rem;
height: 2.5rem;
padding-top: 0.5rem;
line-height: 1.5rem;
display: inline-block;
color:#EB2129;
/* margin-left: 20%; */
}

thead th{
    padding: 1.6rem 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    /* text-align: center; */
    color: #6B6B6B;
    border-bottom: 1px solid #E5E5E5;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 1.4rem;
line-height: 1.7rem;


text-align: center;
}

table th:hover{
    cursor:pointer;
}

td{
    padding: 2rem 1rem;
    border-bottom: 1px solid #E5E5E5;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 500;
    color: #3F5575;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    /* background-color: #33B850; */
}

.mad{
    align-items: baseline;
    size: 0ch;
}

.stock_in_style{
    border-radius: 5px;
    color: #33B850;
    background-color: #cdebd4;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: fit-content;
    height:fit-content;
    min-height: 2.5rem;
    padding: 0.5rem;
    display: flex;
    margin:0 auto;
}

.stock_out_style{
    border-radius: 5px;
    color: #F16B6B;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    width: fit-content;
    height:fit-content;
    min-height: 2.5rem;
    background-color: #f0d1d1;
    padding: 0.5rem;
    display: flex;
    margin:0 auto;
}

.parts_image{
    width:7rem;
    height: 8rem;
    /* padding-top: 0.4rem; */
    /* padding-left: 1.4rem; */
    border-radius: 3px;
    background-color: rgb(237, 237, 237);
    border: #e5e5e5 solid 0.1rem;
    margin-right:10px;
    position: relative;
}

.pending_status_style{
    color:#F6C034;
    background-color: #f9f1e3;
    padding-top: 0.5rem;
    height:2.5rem;
    border-radius:5px;
    width:7rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.partial_status_style{
    color:#F68634;
    background-color: #f9ede5;
    padding-top: 0.5rem;
    height:2.5rem;
    border-radius:5px;
    width:15rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.status_style{
    padding-top: 0.5rem;
    height:2.5rem;
    border-radius:5px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.completed_status_style{
    color:#33B850;
    background-color: #e8fcec;
    padding-top: 0.5rem;
    height:2.5rem;
    border-radius:5px;
    width:9rem;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.header_fields{
    display: flex;
    justify-content: center;
}

.arrow_icon{
    stroke-width: 0.07rem;
}

.arrow{
    display: none;
    margin-left: 0.4rem;
    margin-top: 0.1rem;
}

.header_title{
    display: flex;
}

.header_title:hover + .arrow{
    display:block;
}

.sort_direction{
    margin-top: 0.1rem;
}

.header_title:hover .sort_direction{
    display: none;
}

.available_quantity{
    margin-left: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.quantity_field{
    width:50%;
    height:3.3rem; 
}

.stock_out_quantity{
    display: flex;
    align-items: center;
    justify-content: end;
    /* margin-left: 0.5rem; */
}

@media(max-width:600px){
    thead th{
        padding: 1rem 0.5rem;
        letter-spacing: 0;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    }

    td{
        padding: 1rem 0.5rem;
        font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 500;
    }
    .part_id_box{
        font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 500;
    width:9rem;
    }

    .available_quantity{
        font-size: 1rem;
    }

    .quantity_field{
        width:90%;
    }
}